<mat-toolbar color="primary" class="navbar">
    <a [routerLink]="'/'" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon><span class="material-icons-outlined">
                menu_book
            </span></mat-icon>
    </a>
    <span>Exam Portal</span>
    <span class="example-spacer"></span>
    <a *ngIf="!isLoggedIn" [routerLink]="'/login'" mat-icon-button class="example-icon favorite-icon"
        aria-label="Example icon-button with heart icon">
        <mat-icon><span class="material-icons-round">
                pattern
            </span></mat-icon> Login
    </a>
    <a *ngIf="!isLoggedIn" [routerLink]="'/signup'" mat-icon-button class="example-icon"
        style="margin-right: 50px; margin-left: 40px;" aria-label="Example icon-button with share icon">
        <mat-icon><span class="material-icons-round">
                app_registration
            </span></mat-icon> Signup
    </a>

    <!-- If logged in  -->
    <a *ngIf="isLoggedIn && user" class="example-icon favorite-icon" mat-icon-button
        aria-label="Example icon-button with heart icon">
        <mat-icon><span class="material-icons-round">
                sentiment_satisfied_alt
            </span></mat-icon>
        {{ login.getUser().firstName }}
    </a>
    <a (click)="logout()" *ngIf="isLoggedIn" [routerLink]="'/login'" mat-icon-button
        style="margin-right: 50px; margin-left: 50px;" class="example-icon favorite-icon"
        aria-label="Example icon-button with heart icon">
        <mat-icon><span class="material-icons-round">
                pattern
            </span></mat-icon> Logout
    </a>
</mat-toolbar>