<div class="card p-3">
    <div class="row">
        <div class="col-md-3">
            <div class="card text-center p-3">
                <h2 class="icon">
                    <mat-icon>
                        <span class="material-icons-round">
                            sentiment_satisfied_alt
                        </span>
                    </mat-icon>
                </h2>
                <h2>44k</h2>
                <h2>User</h2>
            </div>
        </div>
        <div class="col-md-3">

        </div>
        <div class="col-md-3">

        </div>
        <div class="col-md-3">

        </div>
    </div>
</div>