.option {
    border-left: 8px solid crimson;
    padding-left: 5px;
    border-radius: 3px;
    font-size: medium;
}
.qus {
    font-size: large;
}
.ans {
    font-size: medium;
    border-left: 8px solid green;
    padding-left: 5px;
    border-radius: 3px;
}
.q-no {
    background-color: aqua;
    padding: 5px;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    text-align: center;
    color: white;
}