<div class="container-fluid">
    <div class="row mt-3">
        <div class="col-md-4" *ngFor="let q of quiz">
            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title> {{ q.title }} </mat-card-title>
                    <mat-card-subtitle>{{ q.category.title }}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p class="truncate">
                        {{ q.description }}
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-stroked-button color="accent">View</button>
                    <button [routerLink]="'/user-dashboard/instructions/' + q.qId" mat-stroked-button
                        color="accent">Start</button>
                    <button mat-stroked-button color="accent">N Q : {{ q.noQuestion }}</button>
                    <button mat-stroked-button color="accent">M M : {{ q.maxMark }}</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>
<!-- {{quiz| json}} -->