<div class="container">
    <mat-card>
        <div class="row">
            <div class="col-md-6">
                <div class="banner-text">
                    <h1>Welcome <br> to Exam Portal</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci quaerat officia sunt
                        obcaecati
                        reprehenderit pariatur nobis dolor natus quas eveniet.</p>
                    <a mat-raised-button color="accent">Get Started
                        <mat-icon><span class="material-icons-round">
                                navigate_next
                            </span></mat-icon>
                    </a>
                </div>
            </div>
            <div class="col-md-6">
                <img src="../../../assets/banner.png" width="100%" alt="">
            </div>
        </div>
    </mat-card>
</div>