<mat-card>
    <mat-action-list>
        <div mat-subheader>Menu</div>
        <button mat-list-item routerLink="/admin">
            <mat-icon mat-list-icon>home</mat-icon>Home
        </button>
        <button mat-list-item routerLink="/admin/profile">
            <mat-icon mat-list-icon><span class="material-icons-round">
                    badge
                </span></mat-icon>Profile
        </button>
        <button mat-list-item routerLink="/admin/categories">
            <mat-icon mat-list-icon><span class="material-icons-round">
                    category
                </span></mat-icon>Categories
        </button>
        <button mat-list-item routerLink="/admin/add-categories">
            <mat-icon mat-list-icon><span class="material-icons-round">
                    playlist_add
                </span></mat-icon>Add Category
        </button>
        <button mat-list-item routerLink="/admin/quiz">
            <mat-icon mat-list-icon><span class="material-icons-round">
                    auto_stories
                </span></mat-icon>Quizes
        </button>
        <button mat-list-item routerLink="/admin/add-quiz">
            <mat-icon mat-list-icon><span class="material-icons-round">
                    dashboard_customize
                </span></mat-icon>Add Quiz
        </button>
    </mat-action-list>
</mat-card>